#navcolumn {
	position: fixed;
	left: 0;
	width: 320px;
	height: 100%;
	background-color: #FE7F2D;
}

#contentWrapper {
  position: fixed;
  right: 0;
  width: calc(100% - 320px);
  height: 100%;
  background-color: #23231A;
}

.contentContainer {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 2%;
  right: 2%;
  background-color: #FBF5F3;
  border-radius: 20px;
}

.pageTitle {
	position: absolute;
  text-align: center;
	font-style: normal;
	font-weight: 800;
	font-size: 96px;
	line-height: 98px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.1em;
	color: #33658A;
}

footer {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.5);
	margin: auto;
	width: 320px;
}

#navcolumn ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: black;
	padding-left: 40px;
}

#navcolumn ul a:hover{
	padding-left: 50px;
}

.nav-link {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 25px;
	/* identical to box height */

	display: flex;
	align-items: flex-end;
	text-align: center;
}

.search-form {
	height: 40px;
  background: #FF6705;
}

#search-text {
	width: 276px;
	height: 40px;
  background: #FF6705;
	color: rgba(0, 0, 0, 0.5);
	border: 0;
	padding-left: 10px;
	font-style: normal;
	font-weight: bold;
}

#search-icon {
	width: 40px;
	height: 40px;
	border: 0;
  background: #FF6705;
}
