*{
	margin: 0;
	padding: 0;
}


.sidebar-sticky {
	position: fixed;
	left: 0;
	width: 320px;
	height: 100%;
	background-color: #FE7F2D;

}

#contentWrapper {
  position: fixed;
  right: 0px;
  width: calc(100% - 320px);
  height: 100%;
  background-color: #23231A;
  overflow: scroll;
}

.contentContainer {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 2%;
  right: 2%;
  background-color: #FBF5F3;
  border-radius: 20px;
}

.pageTitle {
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	font-weight: 800;
	font-size: 96px;
	line-height: 98px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.1em;
	color: #33658A;
}

footer {

	position: fixed;
	bottom: 10px;
	left: 60px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.5);
	width: 320px;
}

#navcolumn ul a{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: black;
}

#navcolumn ul a:hover{
	color: #33658A;
}


.nav-link {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 25px;
	/* identical to box height */

	display: flex;
	align-items: flex-end;
	text-align: center;
}

.bottom {
	margin-top: 80px;

}


.search-form {
	display: inline-block;
	height: 40px;
  	background: #FF6705;
}

#search-text {
	text-align: center;
	float: left;
	width: 276px;
	height: 40px;
  	background: #FF6705;
	color: rgba(0, 0, 0, 0.5);
	border: 0;
	font-style: normal;
	font-weight: bold;
}

#search-icon {
	float: left;
	width: 40px;
	height: 40px;
	border: 0;
  	background: #FF6705;
}


.button{
	background-color: #FF6705;
	border-radius: 10px;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
}

