<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      MyCampus Guide -
      {% block title_block %}
        Welcome!
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
            <h1> MyCampus Guide</h1>
					  <form class="form-inline">
					 	  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				    	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					  </form>
  	        <ul class="list-group">
						  <li class="nav-item "><a class="nav-link" href="{% url 'guide:index' %}">Home</a></li>
						  <li class="nav-item "><a class="nav-link" href="{% url 'guide:lecturers' %}">Lecturers</a></li>
						  <li class="nav-item "><a class="nav-link" href="{% url 'guide:courses' %}">Courses</a></li>
						</ul>
            <ul class="list-group bottom">
            	
						 	<li class="list-group-item">Login</li>
							<li class="list-group-item">Register</li>
    	      </ul>
						<p>&copy; WAD LB14d 2021</p>
					</div>
				</nav>
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
					{% block body_block %}
					{% endblock %}
					<footer>		
						<p class="float-right"><a href="#">Back to top</a></p>
						<p>&copy; 2020 Tango With Django 2 &middot; <a href="#">Privacy</a> &middot;
						<a href="#">Terms</a></p>
					</footer>
				</main>
			</div>
		</div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
	</body>
</html>

