{% extends 'guide/base.html' %} 
{% load staticfiles %}

{% block title_block %} 
{% if course %}
        {{ course.name }}
    {% else %}
        Unknown Course
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron p-4"> 
            <div class="container">
                {% if course %}
                
                <h1 class="course_or_lecturer_title">{{ course.name }}</h1>
                <div class="course_description_block" id="course_description_right" >
                <p>{{ course.school }} - {{ course.year }}</p>
                <p>Credits: {{ course.credits }}</p>
                <p >Course Requirements: {{ course.requirements }}</p>
                <p>Current Lecturer: {{ course.currentlecturer }}</p>
                <p >Average Rating: {{ course.avg_rating }}/5
								{% if user.is_authenticated %}
                    {% if rating %}
                    <p >Your Rating: {{ rating.rating }}/5</p>
                    {% else %}
                    </br ></br >
                    <form role="form" id="show_course" method="post" action="{% url 'guide:show_course' course.slug %}"> 
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <b>{{ field.errors }}</b>
                                <p>{{ field }} /5</p>
                            {% endfor %} 
                            <input type="submit" name="submitrating" value="Submit Rating"/>
                    </form>
                    {% endif %}  
								{% endif %}
                </div>
                
                <div class="course_description_block">
                <strong>{{ course.description }}</strong>
                </div>

                <a class="nav-link" href="{% url 'guide:edit_course' course.slug %}">Edit</a>

                <div class="comment_section"> 
                <h2>Comments</h2>
                {% if not user.is_authenticated %}
                    <h6>To add a comment please 
                    <a href="{% url 'guide:login' %}">Log In</a>
                    </h6>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <form role="form" id="show_course" method="post" action="{% url 'guide:show_course' course.slug %}">
                            {% csrf_token %}
                            Add a comment: <input type="text" name="comment" value="" size="80" />
                            <input type="submit" name="submitcomment" value="Submit Comment"/> 
                    </form>
                    </br >
                    {% endif %}                   
                    <div class="row">
                    </div>
                        {% if comments %}                             
                            <div class="col">
                            {% for comment in comments %}
                                <div class="row">
                                <p>User: {{ comment.user }}, posted on: {{ comment.date }}<br>{{ comment.comment }}</p>
                                </div>
                            {% endfor %}
                            </div>
                    </div>
                        {%else%}
                            <strong>No comments yet</strong>
        
                        {% endif %} 
                {% endif %}
            </div>
    </div>

{% endblock %}
