{% extends 'guide/base.html' %} 
{% load staticfiles %}

{% block title_block %} 
{% if lecturer %}
        {{ lecturer.name }}
    {% else %}
        Unknown Lecturer
    {% endif %}
{% endblock %}

{% block body_block %}
		<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>		
    <div class="jumbotron p-4"> 
            <div class="container">
                {% if lecturer %}
                <h1 class="pageTitle">{{ lecturer.name }}</h1>
                <p>{{ lecturer.description }}</p>
                <p>Currently Teaching: {{ lecturer.teaching }}</p>
                {% if lecturer.picture %}
                    <p>{{ lecturer.picture }}</p>
                {% else %}
                    <p>No picture uploaded</p>
                {% endif %}
                <p>Average Rating: {{ lecturer.avg_rating }}/5
                    {% if rating %}
                    <p>{{ rating.rating }}/5</p>
                    {% else %}
                    <p>Submit a rating (Add form)/5</p>
										<button onClick="showRatingForm()" name="showbutton">Submit a rating</button>
										<input type="text" id="rate" name="rate"  style="display:none;" />
                    {% endif %} 
								{% if comments %}
                                <div class="comment_section">
									<div class="col">
									  <div class="row">
											<h2>Comments</h2>
											{% if user.is_authenticated %}
												<a href="{% url 'guide:add_lecturer' %}">
													<img src="{% static 'images/add.png' %}" alt="Add lecturer" class="add"/>
												</a>
											{% endif %}
										</div>

										{% for comment in comments %}
											<div class="row">
												<p>User: {{ comment.user }}, posted on: {{ comment.date }}<br>{{ comment.comment }}</p>
											</div>
										{% endfor %}
									</div>
                                </div>
                                {%else%}
                                    <strong>No comments yet</strong>
        
								{% endif %}	
                {% endif %}
            </div>
    </div>

{% endblock %}
