{% extends 'guide/base.html' %} 
{% load staticfiles %}

{% block title_block %} 
{% if course %}
        {{ course.name }}
    {% else %}
        Unknown Course
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron p-4"> 
            <div class="container">
                {% if course %}
                <h1>{{ course.name }}</h1>
                <p>{{ course.school }} - {{ course.year }}</p>
                <p>{{ course.description }}</p>
                <p>Credits: {{ course.credits }}</p>
                <p>Course Requirements: {{ course.requirements }}</p>
                <p>Current Lecturer: {{ course.currentlecturer }}</p>
                <p>Average Rating: {{ course.avg_rating }}/5
                    {% if rating %}
                    <p>{{ rating.rating }}/5</p>
                    {% else %}
                    <p>Submit a rating (Add form)/5</p>
                    {% endif %} 
                {% endif %}
            </div>
    </div>

{% endblock %}
