{% extends 'guide/base.html' %} 
{% load staticfiles %}

{% block title_block %} 
{% if course %}
        {{ course.name }}
    {% else %}
        Unknown Course
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron p-4"> 
            <div class="container">
                {% if course %}
                
                <h1 class="course_or_lecturer_title">{{ course.name }}</h1>
                <div class="course_description_block" id="course_description_right" >
                <p>{{ course.school }} - {{ course.year }}</p>
                <p>Credits: {{ course.credits }}</p>
                <p >Course Requirements: {{ course.requirements }}</p>
                <p>Current Lecturer: {{ course.currentlecturer }}</p>
                <p >Average Rating: {{ course.avg_rating }}/5
                    {% if rating %}
                    <p >Your Rating: {{ rating.rating }}/5</p>
                    {% else %}
                    </br ></br >
                    <form role="form" id="show_course" method="post" action="{% url 'guide:show_course' course.slug %}"> 
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <b>{{ field.errors }}</b>
                                <p>{{ field }} /5</p>
                                <div class="p-2"></div>
                            {% endfor %} 
                            <input type="submit" name="submit" value="Submit Rating"/>
                    </form>
                    {% endif %}  
                {% endif %}
                </div>
                
                <div class="course_description_block">
                <p>{{ course.description }}</p>
                </div>
            
            </div>
    </div>

{% endblock %}
