{% extends 'guide/base.html' %} 
{% load staticfiles %}

{% block title_block %} 
{% if lecturer %}
        {{ lecturer.name }}
    {% else %}
        Unknown Lecturer
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron p-4"> 
            <div class="container">
                {% if lecturer %}
                <h1>{{ lecturer.name }}</h1>
                <p>{{ lecturer.description }}</p>
                <p>Currently Teaching: {{ lecturer.teaching }}</p>
                {% if lecturer.picture %}
                    <p>{{ lecturer.picture }}</p>
                {% else %}
                    <p>No picture uploaded</p>
                {% endif %}
                <p>Average Rating: {{ lecturer.avg_rating }}/5
                    {% if rating %}
                    <p>{{ rating.rating }}/5</p>
                    {% else %}
                    <p>Submit a rating (Add form)/5</p>
                    {% endif %} 
                {% endif %}
            </div>
    </div>

{% endblock %}
