{% extends 'guide/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Courses
{% endblock %}

{% block body_block %}
<div class="jubmotron jumbotron-fluid">
  <div class="container mb-3 mt-3">
  <h1 class="pageTitle">Course</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'guide:add_course' %}"><img src="{% static 'images/add.png' %}" alt="Add course" class="add"/></a>
  {% endif %}
  {% if courses %}
    <table class = "table table-bordered" style="width:100%;" id="table_courses">
    <thead>
      <tr>
        <th>Name</th>
				<th>Taught by</th>
        <th>Average rating</th>
        <th>Number of comments</th>
      </tr>
    </thead>  
    <tbody>
      {% for course in courses %}
        <tr>
          <td><a class="nav-link" href="{% url 'guide:show_course' course.slug %}">{{ course.name }}</a></li></td>
          <td>{{ course.currentlecturer }}</td>
          <td>TODO - average rating</td>
          <td>{{ course.no_comments }}</td>
        </tr>

      {% endfor %}
    </tbody>
    </table>
  {% else %}
    <h1> No courses in the database.</h1>
  {% endif %}
  </div>
</div>
<script> $("table_courses").DataTable();</script>
{% endblock %}

