{% extends 'guide/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Homepage
{% endblock %}

{% block body_block %}
  <div class="jubmotron jumbotron-fluid">
    <div class="container">
    <h1 class="pageTitle">Welcome
    {% if user.is_authenticated %}
      <span class="username">{{ user.username }} </span>
    {% endif %}
		</h1>
    {% if lecturer or course %}
      <h1 id="trending_h1">Trending</h1>
      <div class="row">
        {% if lecturer %}
          <div class="col">
            <a href="{% url 'guide:show_lecturer' lecturer.slug %}">
              <h2>{{ lecturer.name }}</h2>
              {% if lecturer.picture %}
                <img src="{{ lecturer.picture.url }}" class="trending">
              {% endif %}
            </a>
          </div>
        {% endif %}
        {% if course %}
          <div class="col">
            <a href="{% url 'guide:show_course' course.slug %}">
              <h2>{{ course.name }}</h2>
              <img src="{% static 'images/' %}{{ course_image }}" class="trending">
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}
    </div>
  </div>
{% endblock %}

