{% extends 'guide/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Lecturers
{% endblock %}

{% block body_block %}
<div class="jubmotron jumbotron-fluid">
  <div class="container mb-3 mt-3">
  <h1 class="pageTitle">Lecturers</h1>
  <a href="{% url 'guide:add_lecturer' %}"><img src="{% static 'images/add.png' %}" alt="Add lecturer" class="add"/></a>
  {% if lecturers %}
  <table class = "table table-striped table-bordered" style="width:80%;" id="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Courses</th>
        <th>Average rating</th>
        <th>Number of comments</th>
      </tr>
    </thead>
    <tbody>
      {% for lecturer in lecturers %}

        <tr>
          <td><a class="nav-link" href="{% url 'guide:show_lecturer' lecturer.slug %}">{{ lecturer.name }}</a></li></td>
          <td>{{ lecturer.teaching }}</td>
          <td>TODO - average rating</td>
          <td>{{ lecturer.no_comments }}</td>
        </tr>

      {% endfor %}
    </tbody>
    </table>
  {% else %}
    <h1> No lecturers in the database.</h1>
  {% endif %}
  </div>
</div>
{% endblock %}
