{% extends 'guide/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Lecturers
{% endblock %}

{% block body_block %}
<div class="jubmotron jumbotron-fluid">
  <div class="container mb-3 mt-3">
  <h1 class="pageTitle">Lecturers</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'guide:add_lecturer' %}"><img src="{% static 'images/add.png' %}" alt="Add lecturer" class="add"/></a>
  {% endif %}
  {% if lecturers %}
  <table class = "table table-bordered" style="width:100%;" id="table_lecturers">
    <thead>
      <tr>
        <th><a href="?order_by=name"><img src="{% static 'images/DownArrow.png' %}" alt="Descend" height="25" width="25" /></a><a href="?order_by=-name"><img src="{% static 'images/UpArrow.png' %}" alt="Ascend" height="25" width="25" /></a>   Name</th>
        <th><a href="?order_by=teaching"><img src="{% static 'images/DownArrow.png' %}" alt="Sort Table" height="25" width="25" /></a><a href="?order_by=-teaching"><img src="{% static 'images/UpArrow.png' %}" alt="Ascend" height="25" width="25" /></a>   Course</th>
        <th><a href="?order_by=-avg_rating"><img src="{% static 'images/DownArrow.png' %}" alt="Sort Table" height="25" width="25" /></a><a href="?order_by=avg_rating"><img src="{% static 'images/UpArrow.png' %}" alt="Ascend" height="25" width="25" /></a>   Average Rating</th>
        <th><a href="?order_by=-no_comments"><img src="{% static 'images/DownArrow.png' %}" alt="Sort Table" height="25" width="25" /></a><a href="?order_by=no_comments"><img src="{% static 'images/UpArrow.png' %}" alt="Ascend" height="25" width="25" /></a>   Number of Comments</th>
      </tr>
    </thead>
    <tbody>
      {% for lecturer in lecturers %}
        <tr>
          <td><a class="tablelink" href="{% url 'guide:show_lecturer' lecturer.slug %}">{{ lecturer.name }}</a></td>
          <td>{{ lecturer.teaching }}</td>
          <td>{{ lecturer.avg_rating }}/5</td>
          <td>{{ lecturer.no_comments }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  {% else %}
    <h1> No lecturers in the database.</h1>
  {% endif %}
  </div>
</div>
{% endblock %}
