{% extends 'guide/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Register
{% endblock %}

{% block body_block %}
  <div class="jubmotron jumbotron-fluid">
    <div class="container">
      <h1 class="pageTitle">Register</h1>
    </div>
    {% if user.is_authenticated %}
    	<strong> You are already logged in as {{request.user.username}}. </strong>
      <p><a href="{% url 'guide:logout' %}">Sign Out</a></p>
    {% else %}
    	<form id="user_form"method="post"action="{% url 'guide:register' %}" enctype="multipart/form-data" >
    		{% csrf_token %}
        {% for field in user_form %}
          {{ field.errors }}
          {{ field.help_text }}<br /> 
          {{ field }}<br />
          <div class="p-2"></div>
        {% endfor %} 
    	<input type="submit" name="submit" value="Register" />
    </form>
{% endif %}
  </div>
{% endblock %}

